<div class='container d-flex justify-content-center align-items-center h-75'>
	<div class='card p-3'>
		<form action='' method='post'>
			<div class='mb-3'>
				<input
					type='text'
					class='form-control'
					placeholder='Title'
					name='title'
					required
				/>
			</div>
			<div class='mb-3'>
				<input
					type='url'
					name='url'
					class='form-control'
					placeholder='URL'
					required
				/>
			</div>
			<div class='mb-3'>
				<textarea
					class='form-control'
					rows='3'
					placeholder='Description'
					name='description'
				></textarea>
			</div>
			<button
				type='submit'
				class='btn btn-primary w-100 btn-success'
			>Save</button>
		</form>
	</div>
</div>